.encabezado {
	color: blueviolet;
	font-size: 50px;
	text-decoration: underline;
}

.tablero {
	width: 512px;
	height: 512px;
	background-color: black;
	border: 5px solid black;
}

p {
	color: white;
}

.casilla-blanca {
	background-color: white;
	width: 64px;
	height: 64px;
}

.casilla-negra {
	background-color: black;
	width: 64px;
	height: 64px;
}

.fila-par {
	display: flex
}

.fila-impar {
	display: flex;
	flex-direction: row-reverse;
}

.peon {
	width:32px;
	height: 32px;
	background-color: blueviolet;
	border-radius: 50%;
	position: absolute;
}

[class*='button']{
	width: 200px;
	height: 50px;
	background-color: #ccc;
}

.button-top {
	margin-left: 200px;
	margin-top: 50px;
}

.button-right {
	margin-left: 400px;
	margin-top: -50px;
}

.button-bottom{
	margin-left: 200px;
}
